:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --Silver: #c0c0c0;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.primary {
  color: var(--navyblue);
}
.secondary {
  color: var(--cloud);
}
.site-nav-link :hover,
.site-nav-link :focus {
  color: var(--iris);
}
cursor {
  pointer-events: painted;
}
.auth-nav-link :hover,
.auth-nav-link :focus {
  color: var(--iris);
}
.button:hover,
.button:focus {
  color: var(--navyblue);
}
.section-one {
  background: var(--navyblue);
  padding: 188px 0;
}
.section-four {
  background: var(--cloud);
}
.list-markers {
  list-style-type: none;
}
.footer {
  background: var(--navyblue);
}
.logo-primary-link {
  color: var(--cloud);
}
.logo-secondary-link {
  color: var(--iris);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--Silver);
  background: var(--white);
}
.conteanir {
  width: 1158px;
  padding: 15px 0;
  margin: 0 auto;
}
header .conteanir{
  display: flex;
  align-items: center;
  gap: 400px;
}
footer .conteanir{
  padding: 188px 0;
}
.site-nav {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  background: #ffffff;
}
.logo-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  flex: none;
  order: 0;
  flex-grow: 0;
  
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  
}
.site-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: var(--navyblue);
  display: flex;
  text-align: center;
  gap: 40px;
}
.auth-nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: var(--slate);
  display: flex;
  text-align: center;
  gap: 40px;
  margin-left: auto;
}
.text-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}
.list-title-one {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  justify-content: center;
  width: 496px;
  display: flex;
  margin: 0px auto;
  padding-bottom: 48px;
}
.title-What {
  font-style: normal;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
}
.photo-one {
  box-sizing: border-box;
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  margin: 72px;
  gap: 24px;
  padding-top: 72px;
}
.photo-row {
  box-sizing: border-box;
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  margin: 72px;
  gap: 24px;
}
.title-Our {
  font-style: normal;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 120px;
  
}
.list-title-our-team {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}
.list-text-our-team {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}
.photo-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  flex: none;
  border: 1px solid var(--cornflower);
  order: 1;
  flex-grow: 0;
  background: var(--cloud);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.button-filter {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: center;
  color: var(--iris);
  flex: none;
  flex-grow: 0;
  flex-direction: row;
  padding: 12px 24px;
  order: 0;
  justify-content: center;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-one {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  display: block;
}
.list-title-studio {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
}
.list-text-studio {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 264px;
  display: flex;
  justify-content: center;
}
.list-professions {
  display: flex;
  gap: 24px;
  margin: 0px;
  padding-top: 120px;
  justify-content: center;
}
.list-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  letter-spacing: 0.02em;
}
.list-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}
.text-footer {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--cornflower);
  width: 264px;
  /* margin: 156px 138px; */
}
.logo-footer {
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--cloud);
  flex-direction: row;
  text-decoration: none;
}
.logo-primary-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
  
}

